<ion-view view-title="Auth">
  <ion-content class="padding">
    <form class="" method="post" ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <input type="submit" value="Sign in" class="button button-block button-positive">
      </div>
    </form>
  </ion-content>
</ion-view>
