<ion-view class="bodyAuth" hide-nav-bar="true">

  <video class="fade" id="bgvid" playsinline autoplay muted loop>
    <source src="../img/background.mp4" type="video/mp4">
  </video>

  <ion-content class="padding">
    <form class="authForm" method="post" ng-submit="submit()">
        <md-input-container>
          <label>Email</label>
          <input type="email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password">
        </md-input-container>
        <!-- <md-button class="md-fab md-mini"></md-button> -->
    </form>
  </ion-content>
</ion-view>
