<ion-view md-theme="fishareTheme" >
  <ion-content class="padding">

    <!-- <img src="img/peche1.jpg" alt="appareil photo" width="50%" height="200px" style="display:block; margin-left:auto; margin-right:auto" > -->
    <img width="200px" height="200px" src="img/fish_picture.jpg" alt="" style="display:block; margin-left:auto; margin-right:auto">
    <form layout="column" name="addFish">
      <md-input-container>
        <label>Description</label>
        <input type="text" ng-model="data.description" required>
      </md-input-container>
      <md-input-container>
        <label>Poids (kg)</label>
        <input type="number" ng-model="data.poids" min="0" required>
      </md-input-container>
      <md-input-container>
        <label>Taille (cm)</label>
        <input type="number" ng-model="data.taille" min="0" required>
      </md-input-container>
      <md-button class="md-primary" ng-click="showModal($event, data)" arial-label="Le poisson à bien été ajouté">
        Ajouter
      </md-button>

    </form>
  </ion-content>

  <ion-nav-bar class="bar-stable">
    <!-- <ion-nav-back-button>
    </ion-nav-back-button> -->

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <span class="actualisation">Dernière actualisation : il y a 3h</span>

    <ion-nav-buttons side="right">
      <div class="item-avatar">
        <img src="img/jack.gif" style="display:inline-block;margin-top:-15px;width:30px;">
        <p style="font-size:15px;text-align:right; margin-right:15px;">Jack<br /> 1040 pts</p>
      </div>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Accueil" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Journal" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Prise" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/picture">
    <ion-nav-view name="tab-picture"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-view>
