<ion-view view-title="Carnet de bord">
<style>
#nbPoissons1, #nbPoissons2, #nbPoissons3{
  transform: scaleX(-1);
  width:80px;
}

#nbPoissons{
  transform: scaleX(-1);
  margin-left:10%;
}
.score{
  font-size:90px;
  float:right;
  margin-top:50px;
  color:#fff;
  margin-right:10%;
}

.score1{
  font-size:25px;
  color:#fff;
}

.slash{
  margin-top:35px;
  font-size:25px;
}

.type{
  color:#fff;
  text-align:center;
}
</style>
<ion-content>
  <div class="card">
    <div class="item item-text-wrap" style="background-color:#387ef5;">
      <img src="img/fish.png" alt="" id="nbPoissons">
      <div class="score">{{nbMois}} <div class="slash">/ mois</div></div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col" ng-repeat="principal in principaux">
        <div class="item item-text-wrap" style="background-color:{{principal.color}};text-align:center;">
          <span class="type">{{principal.type}}</span>
          <div class="score1">{{principal.nb}}</div>
        </div>
      </div>
    </div>
  </div>
  <h1>Vos dernières prises</h1>
  <div class="list">
    <a class="item item-thumbnail-left" ng-repeat="prise in prises">
      <img ng-src="img/{{prise.img}}">
      <h2>{{prise.type}} de {{prise.poids}} kilos <i class="ion-ribbon-b" style="color:gold;"></i> {{prise.pts}} pts</h2>
      <p>Le {{prise.date}} à {{prise.lieu}}</p>
    </a>
  </div>
</ion-content>
</ion-view>
