<ion-view view-title="Tableau de bord">
  <ion-content class="padding">
    <div class="list card" ng-repeat="data in datas">

      <div class="item item-avatar">
        <img src="{{data.img_user}}">
        <h2>{{data.prenom}} {{data.nom}}</h2>
        <p>{{data.date}}</p>
      </div>

      <div class="item item-body" style="display:inline-block; float:left;">
        <div class="pts" style="font-weight:bold;">
          <i class="ion-ribbon-b" style="color:gold;"></i> {{data.pts}} points
        </div>
        <img class="full-image" src="{{data.img_photo}}" style="display:inline-block;float:left;">
        <p>
          <strong>Prise : {{data.type}} | Poids : {{data.poids}} kilos | Taille : {{data.taille}}cm | Autour de {{data.lieu}}</strong><br />
          {{data.description}}
        </p>
        <p>
          <md-icon md-svg-icon="thumb-up"></md-icon>
          <a href="#" class="subdued">{{data.like}} Likes</a>
          <a href="#" class="subdued">{{data.comment}} Comments</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
