<ion-view hide-back-button="false">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Tirez et relachez pour actualiser"
      refreshing-text="{{timeFromLast}}"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card" ng-repeat="(index,data) in datas">

      <div class="item item-avatar">
        <img ng-src="{{data.img_user}}">
        <h2>{{data.prenom}} {{data.nom}}</h2>
        <p ng-if="!data.publicite">{{data.date}}</p>
        <p ng-if="data.publicite">{{data.type}}</p>
      </div>

      <div class="item item-body" style="display:inline-block; float:left;">
        <div class="pts" style="font-weight:bold;" ng-if="!data.publicite">
          <i class="ion-ribbon-b" style="color:gold;"></i> {{data.pts}} points
        </div>
        <img class="full-image" ng-src="{{data.img_photo}}" style="display:inline-block;float:left;">
        <p>
          <strong ng-if="!data.publicite && data.type">Prise : {{data.type}} | Poids : {{data.poids}}kilos | Taille : {{data.taille}}cm | Autour de {{data.lieu}}</strong><br />
          {{data.description}}<br />
          <a href="{{data.link}}" target="_blank">{{data.link_title}}</a>
          <button target="_blank" ng-if="data.publicite" style="background-color:#387ef5;color:#fff;border:none;float:right;border-radius:2px;"> <a href="{{data.link}}" style="color:#fff; text-decoration:none;" target="_blank"> <i class="ion-pricetag"></i> {{data.prix}}€</a></button>
        </p>
        <p>
          <md-icon ng-if="!data.publicite" md-svg-icon="thumb-up"></md-icon>
          <a ng-click="likeIt(data.id)" ng-if="!data.publicite" class="subdued">{{data.like}} <i class="ion-thumbsup" ng-class=''></i> </a>
          <a ng-if="!data.publicite" ng-click="toggleComments(data.id)" class="subdued">{{data.comment.length}} <i class="ion-chatboxes"></i></a>
          <div ng-show="showComment == data.id">
            <div class="list" ng-repeat="comment in data.comment track by $index">
              <a class="item item-avatar" href="">
                <img ng-src="{{comment.author_img}}">
                <h2>{{comment.author_prenom}} {{comment.author_nom}}</h2>
                <p>{{comment.content}}</p>
              </a>
            </div>
          </div>
          <form ng-show="showComment == data.id" ng-submit="validerComment(data.id, toto, index)">
            <label style="color: red" class="item item-input" ng-if="error_message != undefined">{{error_message}}</label><br />
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Message" ng-model="toto">
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input">
                    <md-button class="md-primary" style="background-color:#387ef5; border:none;color:#fff;" type="submit">Répondre</md-button>
                  </label>
                </div>
              </div>
          </form>

        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
