<ion-view view-title="Carnet de bord">
<style>
#nbPoissons1, #nbPoissons2, #nbPoissons3{
   transform: scaleX(-1);
   width:80px;
}

#nbPoissons{
  transform: scaleX(-1);
  margin-left:10%;
}
.score{
  font-size:90px;
  float:right;
  margin-top:50px;
  color:#fff;
  margin-right:10%;
}

.score1{
  font-size:25px;
  color:#fff;
  float:right;
  margin-top:30px;
  margin-right:10%;
}

.slash{
  margin-top:35px;
  font-size:25px;
}

.type{
  color:#fff;
  text-align:center;
}
</style>
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap" style="background-color:#387ef5;">
    <img src="img/fish.png" alt="" id="nbPoissons">
    <div class="score">25 <div class="slash">/ mois</div></div>
  </div>
</div>
    <div class="card">
      <div class = "row">
      <div class = "col">
        <div class="item item-text-wrap" style="background-color:#28a54c">
          <img src="img/fish.png" alt="" id="nbPoissons1">
          <div class="score1">16 <div class="slash"></div></div>
          <span class="type">Brochets</span>
        </div>
      </div>
      <div class = "col">
        <div class="item item-text-wrap" style="background-color:#e6b500">
          <img src="img/fish.png" alt="" id="nbPoissons2">
          <div class="score1">5 <div class="slash"></div></div>
          <span class="type">Bars</span>

        </div>
      </div>
      <div class = "col">
        <div class="item item-text-wrap" style="background-color:#e42112">
          <img src="img/fish.png" alt="" id="nbPoissons3">
          <div class="score1">3 <div class="slash"></div></div>
          <span class="type">Vieilles</span>

        </div>
      </div>
     </div>
</div>
  </ion-content>
</ion-view>
