.bodyAuth {

  md-input-container {
    .md-input {
      color: #fff !important;
    }

    label {
      color: rgb(0, 188, 212) !important;
    }
  }

  video {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    height: 100%;
    width: auto;
    z-index: -100;
    background-size: cover;
    opacity: 1;
    // animation: move 10s infnite;
  }

  .highlight {
    height: 100%;
    width: 100%;
    background : black;
    opacity: 0.7;
    text-align: center;
  }

  .authForm {
    top: 50%;
    left: 50%;
  }

  // @keyframes move {
  //   from { left: 0px;}
  //   to { left: -700px;}
  // }
}
