md-input-container {
  .md-input {
    color: #fff !important;
  }

  label {
    color: rgb(0, 188, 212) !important;
  }
}

.bodyAuth {

  // .title {
  //   color: white;
  //   font-size: 75px;
  //   height: 150px;
  //   width: 100%;
  //   top: 100px;
  //   left: 50%;
  //   font-family: "fish";
  // }

  video {
    position: absolute;
    top: 0px;
    left: -670px;
    height: 100%;
    width: auto;
    z-index: -100;
    background-size: cover;
    opacity: 1;
    // animation: move 10s infnite;
  }

  .highlight {
    height: 100%;
    width: 100%;
    background : black;
    opacity: 0.7;
    text-align: center;
  }

  .authForm {
    top: 50%;
    left: 50%;
  }

  // @keyframes move {
  //   from { left: 0px;}
  //   to { left: -700px;}
  // }
}
