/* Empty. Add your own CSS if you like */

.bodyAuth .title {
  color: white;
  font-size: 80px;
  width: 100%;
  text-align: center;
  font-family: "fish";
}

.title span {
  font-size: 40px;
  color: rgb(0, 188, 212)
}

.pictureCtrl {

}

@font-face {
    font-family: "fish";
    src: url("fonts/fish.ttf") format("truetype");
}
